
@font-face {
    font-family: 'Interstate';
    src: url('/assets/Interstate-Bold.woff2') format('woff2'),
        url('/assets/Interstate-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('/assets/Interstate-Regular.woff2') format('woff2'),
        url('/assets/Interstate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('/assets/Interstate-Light.woff2') format('woff2'),
        url('/assets/Interstate-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
